
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.aside {
    width: 200px;
    border-right: 1px solid #000;
}

.aside> ul > li {
    margin: 0 6px;
}
